<a 
    mat-list-item
    class="menu-item"
    (click)="toggleNestedMenu()" 
    routerLinkActive="selected-menu-item"
    [routerLinkActiveOptions]="{ exact: true }"
>
    <mat-icon matListItemIcon>{{ item().icon }}</mat-icon>
    @if (!collapsed()) {
        <span matListItemLine>{{ item().label }}</span>
    }
    @if (item().subItems) {
    <span matListItemMeta>
        @if (nestedMenuOpen()) {
            <mat-icon>expand_less</mat-icon>
        } 
        @else {
            <mat-icon>expand_more</mat-icon>
        }
    </span>
    }
</a>

@if (item().subItems && nestedMenuOpen()) {
    <mat-nav-list>
        @for (subItem of item().subItems; track subItem.route) {
            <a 
                mat-list-item
                class="sub-menu-item"
                [routerLink]="item().route + '/' + subItem.route" 
                routerLinkActive="selected-menu-item"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <mat-icon matListItemIcon>{{ subItem.icon }}</mat-icon>
                @if (!collapsed()) {
                    <span matListItemLine>{{ subItem.label }}</span>
                }
            </a>
        }
    </mat-nav-list>
}