.table-card {
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: var(--light);
}

.search-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.filter-input {
    grid-area: 1 / 1 / 2 / 3;
}

.chip-container {
    grid-area: 1 / 3 / 2 / 6;
}

.chip-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.chip-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin: 0 0.25rem;
    padding: 0.625rem;
}

table {
    background-color: var(--light);
}

mat-paginator {
    background-color: var(--light);
}
